<%= form_for(post) do |f| %>
    <% if post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
            <% post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    
    <%= f.fields_for :trip, post.trip || Trip.new do |ff| %>
    <div class="row">
      <div class="col-md-6">
      <fieldset class="form-group">
        <%= ff.label :started_at %>
        <%= ff.date_field :started_at, placeholder: :from, class: "form-control form-control-lg" %>
      </fieldset>  
      </div>  
      <div class="col-md-6">
        <fieldset class="form-group">
        <%= ff.label :ended_at %>
        <%= ff.date_field :ended_at, placeholder: :till, class: "form-control form-control-lg" %>
        </fieldset>   
      </div>
    </div>
    <% end %>

    <fieldset class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, placeholder: :title, class: "form-control form-control-lg" %>
    </fieldset>

    <fieldset class="form-group">
      <%= f.label :body %>
      <%= f.text_area :body, placeholder: :content, class: "form-control", data: {provider: :summernote} %>
    </fieldset>

    <%= f.submit nil, class: "btn action-btn" %>
<% end %>
