<div class="book-entry">
  <a href="<%= guestbook_post_url(post) %>" class="flex-container">
    <div class="book-entry-image">
      <img src="<%= image_url('trees.svg')%>">
    </div>
    <div class="book-entry-title">
      <h3><%= post.title %></h3>
      <div class="date">
        <% if post.trip.try(:started_at) || post.trip.try(:ended_at) %>
        <%= l(post.trip.started_at) %> - <%= l(post.trip.ended_at) %>
        <% else %>
        -
        <% end  %>
      </div>
    </div>
  </a>
</div>