<div class="sidebar-module">
  <%= link_to edit_guestbook_post_path(@post), class: "btn btn-sm btn-primary-outline" do %>
    <%= material_icon.edit %> <%= t(:edit) %>
  <% end %>
  <%= link_to @post, class: "btn btn-sm btn-danger-outline",
                method: :delete, data: { confirm: 'Are you sure?' } do %>
      <%= material_icon.delete %> <%= t(:destroy) %>
  <% end %>
</div>
<div class="sidebar-module last-posts">
  <ol class="list-unstyled">
    <% @latest_posts.each do |post| %>
    <li>
      <img src="<%= image_url('trees.svg')%>">
      <div>
        <%= link_to post.title, post %>
        <div class="date">

        <% if post.trip.try(:started_at) || post.trip.try(:ended_at) %>
            <%= l(post.trip.started_at) %> - <%= l(post.trip.ended_at) %>
        <% else %>
            -
        <% end  %>
        </div>
      </div>
    </li>
    <% end %>
  </ol>
</div>
