<%= render partial: "layouts/header-image", locals: {
    text: "Hüttenbuch",
    image: image_url('huettenbuch_bg.jpg'),
    classes: "small-header huettenbuch-header-img"
} %>


<div class="container content-margin">
	<%= link_to 'Neuer Hüttenbucheintrag', new_guestbook_post_path, class: "btn ghost-btn" %>

	<div class="list-group pages article-listing">
	  <% @posts.each do |post| %>
	      <%= link_to post, class: "list-group-item" do %>
	      <img src="<%= image_url('trees.svg')%>">	
	      <div class="flex-container link-to-article">

	          <div><%= post.title %></div>
	          <div class="date">
              <% if post.trip.try(:started_at) || post.trip.try(:ended_at) %>
                  <%= l(post.trip.started_at) %> - <%= l(post.trip.ended_at) %>
              <% else %>
                  -
              <% end  %>
      		  </div>
      	  </div>
          <div class="label label-default label-pill last-edited">
            <div>Zuletzt bearbeitet</div>
            <div class="label label-default label-pill pull-xs-right author">
              <%= "#{time_ago_in_words(post.updated_at)} #{t(:ago_by)} #{post.user.name}" %>
            </div>
          </div>
	      <% end %>
	  <% end %>
	</div>
	<br>
</div>
