<%= render partial: "layouts/header-image", locals: {
    text: "Inhalte",
    image: image_url('huettenbuch_bg.jpg'),
    classes: "small-header without-image-header huettenbuch-header-img" 
} %>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 blog-main">
      <div class="blog-post">
        <h2 class="blog-post-title"><%= @post.title %></h2>
        <p>
          <% if @post.trip.try(:started_at) || @post.trip.try(:ended_at) %>
              <%= l(@post.trip.started_at) %> - <%= l(@post.trip.ended_at) %>
          <% else %>
              -
          <% end  %>
        </p>
        <p class="blog-post-meta">Zuletzt bearbeitet <%= "#{time_ago_in_words(@post.updated_at)} #{t(:ago_by)}" %> von
          <%= link_to @post.user.name, users_path(@post.user) %></p>

        <%= @post.body.html_safe %>
      </div>
      <div class="flex-container blog-post-btns">
        <%= link_to @prev_post, class: "btn ghost-btn" + (@prev_post.blank? ? " disabled" : "") do %>
          <%= material_icon.navigate_before %> <%= t(:previous) %>
      <% end %>
      <%= link_to @next_post, class: "btn ghost-btn" + (@next_post.blank? ? " disabled" : "") do %>
           <%= t(:next) %> <%= material_icon.navigate_next %>
      <% end %> 
      </div>
    </div>
    <div class="col-sm-12 col-md-4 blog-sidebar">
      <%= render "sidebar" %>
    </div>
  </div>
</div>