<% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>


<%= form_for(user) do |f| %>
    <form>
      <fieldset class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: "form-control" %>
      </fieldset>
      <fieldset class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: "form-control" %>
      </fieldset>
      <fieldset class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>
      </fieldset>
      <fieldset class="form-group">
        <%= f.label :birthday %>
        <%= f.date_field :birthday, class: "form-control" %>
      </fieldset>
      <% if current_user.is_admin? || user == current_user %>
          <fieldset class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control" %>
          </fieldset>
          <fieldset class="form-group">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: "form-control" %>
          </fieldset>
          <% if current_user.is_admin? %>
          <div class="checkbox">
            <label>
              <%= f.check_box :admin %> is admin?
            </label>
          </div>
          <% end %>
      <% end %>

      <%= f.submit nil, class: "btn action-btn" %>
    </form>
<% end %>
