<div class=" user-entry">
  <div class="actions">
    <%= link_to edit_user_path(user) do %>
      <%= material_icon.edit %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-4 user-image flex-container">
      <div class="user-initials">
        <span><%= user.initials %></span>
      </div>
    </div>
    <div class="col-md-8 user-list flex-container">
      <ul>
        <li class="user-name"><%= user.name %></li>
        <li><%= if user.birthday then l(user.birthday) else "-" end %></li>
        <li><%= if user.address.try(:line1).present? then user.address.line1 else "-" end %></li>
        <li><%= user.address.try(:line2) %></li>
        <li><%= if user.address.try(:zip).present? || user.address.try(:city).present?
                then user.address.zip + " " + user.address.city
                else "-" end %></li>
        <li><%= if user.address.try(:phone).present? then user.address.phone else "-" end %></li>
        <li>
          <% if user.try(:email).present? %>
            <a href='mailto:<%= user.email %>'><%= user.email %></a>
          <% else %>
            -
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>