<%= form_for(page) do |f| %>
  <% if page.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <%= page.errors.count%> Fehler <%= page.errors.count > 1 ? "sind" : "ist" %> aufgetreten
    </div>
  <% end %>
  <fieldset class="form-group<%= " has-danger" if page.errors[:title].present? %>">
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: true,
                     class: "form-control form-control-lg #{"form-control-danger" if page.errors[:title].present?}" %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, placeholder: true, class: "form-control", data: {provider: :summernote} %>
  </fieldset>

  <%= f.submit nil, class: "btn action-btn" %>
<% end %>
