<div class="col-md-4 content-entry">
  <h3><a href="<%= page_url(page) %>"><img src="<%= image_url('trees.svg')%>"><%= page.title %></a></h3>
  <p><%= strip_tags(page.body) %></p>
  <a href="<%= page_url(page) %>" class="btn ghost-btn">Mehr lesen</a>
</div>