<%= render partial: "layouts/header-image", locals: {
    text: "Bearbeiten",
    image: image_url('sanktblasien.JPG'),
    classes: "small-header without-image-header" 
} %>

<div class="container">
  <%= link_to t(:back), pages_path, :class => "btn ghost-btn gutter-margin" %>
	<h2 class="page-edit">
	  <small class="text-muted">Last updated <%= "#{time_ago_in_words(@page.updated_at)} ago" %><br>
	    by <%= link_to @page.user.name, @page.user %></small>
	</h2>

	<%= render 'form', page: @page %>
</div>

