<%= render partial: "layouts/header-image", locals: {
    text: "Inhalte",
    image: image_url('sanktblasien.JPG'),
    classes: "small-header background-position-center" 
} %>

<div class="container">
	<%= link_to 'Neue Seite', new_page_path, class: "btn ghost-btn" %>

	<div class="list-group pages article-listing">
	  <% @pages.each do |page| %>
	    <%= link_to page, class: "list-group-item" do %>
        <div class="title">
	        <span><%= page.title %></span>
          <span class="created_at">Erstellt am: <%= l(page.created_at, format: :short) %></span>
        </div>
	      <div class="label label-default label-pill last-edited">
          <div>Zuletzt bearbeitet</div>
          <div><%= "#{time_ago_in_words(page.updated_at)} #{t(:ago_by)}" %></div>
        </div>
	    <% end %>
	  <% end %>
	</div>
	<br>
</div>
