<!--<div class="row">
  <div class="col-sm-12">
    <div class="jumbotron">
      <h1 class="display-3">Willkommen zur Hüttenseite</h1>
      <p class="lead">Furfm furfm furfmschnaps.</p>
      <hr class="m-y-2">
      <p>Die Seite befindet sich aktuell im Aufbau. Daher sind noch nicht alle Funktionen verfügbar. Schau dich einfach um!
        <br>Was du aber auf jeden Fall schon tun kannst, ist einen Eintrag im Hüttenbuch zu verfassen.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Zum Hüttenbuch</a>
      </p>
    </div>
  </div>
</div> -->

<%= render partial: "layouts/header-image", locals: { text: "Die Hütte", image: image_url('huette.JPG') } %>

<div class="container">
  <div class="row content-margin">
    <div class="col-md-12">
      <h2>Was Du über die Hütte wissen solltest</h2>
    </div>
    <% @pages.each do |page| %>
       <%= render partial: "pages/item", locals: { page: page } %>
    <% end %>
  </div>
  <div class="row content-margin">
    <div class="col-md-10 col-md-offset-1">
      <img src="<%= image_url('huettenbuch_bg.jpg')%>">  
    </div>
  </div>
  <div class="row content-margin">
    <div class="col-md-10 col-md-offset-1">
      <h2>Aktuelle Hüttenbucheinträge</h2>
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
          <%= render partial: "guestbook/item", locals: { post: @posts[0]} if @posts[0] %>
          <%= render partial: "guestbook/item", locals: { post: @posts[1]} if @posts[1] %>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <%= render partial: "guestbook/item", locals: { post: @posts[2]} if @posts[2] %>
          <%= render partial: "guestbook/item", locals: { post: @posts[3]} if @posts[3] %>
        </div>
      </div>      
    </div>
  </div>
  <div class="row content-margin">
      <div class="col-md-6">
        <img src="<%= image_url('sanktblasien.JPG')%>">
      </div>
      <div class="col-md-6">
        <img src="<%= image_url('pilze.JPG')%>">
      </div>
  </div>
</div>

