<p> Hallo und herzlich Willkommen auf der Hüttenseite. Diese Seite ist nur für Familienmitglieder und Besucher der Hütte gedacht. Solltest du dazu gehören und noch keine Zugangsdaten haben, erkundige dich gerne in der Familie, damit wir dir einen Account erstellen können.</p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <fieldset class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: :email %>
  </fieldset>
  <fieldset class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: :password %>
  </fieldset>
  <fieldset class="form-group">
    <%= f.label nil do %>
      <%= f.check_box :remember_me %> remember me
    <% end %>
  </fieldset>
  <div class="form-group">
    <%= f.submit "Login", class: "btn action-btn" %>
  </div>
<% end %>
<%= render "devise/shared/links" %>